{% extends "header.html" %}
{% block content %}
<div class="container">
  <h1>
  {% if view_type == 'installed' %}
    Leads with OGBOOKS installed
  {% elif view_type == 'trial' %}
    Leads with a trial period
  {% elif view_type == 'probable' %}
    Likely Leads
  {% elif view_type == 'stale' %}
    Stale Leads
  {% else %}
    All Leads
  {% endif %}
  </h1>
  {% for lead in lead_data %}
  <div class="card md-2" style="max-width: 1200px;">
    <div class="row g-0 align-items-start">
      <div class="col-6 col-md-6">
        <div class="card-title">
        <a href='/edit_lead?id={{lead.id}}'>{{lead.company}} - {{lead.date}}</a>
        </div>
        <div class="card-text">
        {{lead.contact}}<br>
        {{lead.phone}} - {{lead.address}}<br>
        {{lead.notes}}<br>
        {% if lead.installed %}Installed<br>{% endif %}
        {% if lead.invoice %}
          {% if lead.paid %}
          Invoice Paid
          {% else %}
          Invoice Sent
          {% endif %}<br>
        {% endif %}
        {% if lead.stale %}Stale<br>{% endif %}
        {% if lead.probable %}Likely to Purchase<br>{% endif %}
        {% if lead.trial %}
          {{lead.trial_expiration}}<br>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}